[submodule "themes/casper"]
	path = themes/casper
	url = https://github.com/eueung/hugo-casper-two
[submodule "truthy_or_falsy"]
	path = truthy_or_falsy
	url = git@github.com:hoshinotsuyoshi/truthy_or_falsy.git
